*.bat
markdownlint_rules.md
request.md
CLAUDE.md
.claude/
.catpaw/
.claude/
.trae/
audio/
download_audio_optimized.py
js_download_script.js
android_build/
android_build/*
args.yaml
build.py
shizi-app-debug.apk
